@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/susy\/sass\/susy\/language\/susy\/_box-sizing\.scss}line{font-family:\0000321}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'carlsbergbold';
  src: url("/fonts/carlsberg-bold-webfont.eot");
  src: url("/fonts/carlsberg-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/carlsberg-bold-webfont.woff") format("woff"), url("/fonts/carlsberg-bold-webfont.ttf") format("truetype"), url("/fonts/carlsberg-bold-webfont.svg#carlsbergbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'carlsbergregular';
  src: url("/fonts/carlsberg-regular-webfont.eot");
  src: url("/fonts/carlsberg-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/carlsberg-regular-webfont.woff") format("woff"), url("/fonts/carlsberg-regular-webfont.ttf") format("truetype"), url("/fonts/carlsberg-regular-webfont.svg#carlsbergregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000356}}
body {
  background-color: #122821; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000360}}
img {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000363}}
h1 {
  font-size: 2.5em;
  font-family: 'carlsbergbold'; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000367}}
h2 {
  font-family: 'carlsbergbold';
  font-size: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000371}}
p {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000375}}
#wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.94118%;
  padding-right: 2.94118%;
  height: 100vh;
  overflow: hidden;
  font-family: 'carlsbergregular'; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/susy\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  #wrapper:after {
    content: " ";
    display: block;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
  #wrapper:after {
    content: " ";
    display: block;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000397}}
.header-container {
  position: relative;
  z-index: 99;
  padding-top: 4.16667%;
  margin-bottom: 7.14286%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
  .header-container:after {
    content: " ";
    display: block;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003103}}
  .header-container .euro-logo {
    width: 35.89744%;
    float: left;
    margin-right: 2.5641%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003106}}
  .header-container button.info-icon {
    margin-top: 3.44828%;
    padding-left: 0;
    padding-right: 0;
    width: 10.25641%;
    float: right;
    margin-right: 0;
    background: transparent;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
.main-title-container:after {
  content: " ";
  display: block;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003118}}
.main-title-container .main-title {
  margin-right: 3.44828%;
  margin-left: 3.44828%;
  position: relative;
  z-index: 100; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003127}}
.six-pack-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 7.14286%;
  text-align: center;
  position: fixed;
  z-index: 98;
  bottom: 7%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
  .six-pack-container:after {
    content: " ";
    display: block;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003135}}
  .six-pack-container .six-pack img {
    max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003140}}
.bg-app img {
  z-index: 1;
  min-width: 1027px;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003151}}
.bg-spil img {
  min-height: 100%;
  min-width: 1027px;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 50%;
  margin-left: -513px;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
.lights:after {
  content: " ";
  display: block;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003165}}
.lights img {
  position: fixed;
  z-index: 97;
  height: auto;
  width: 100%;
  min-width: 1027px;
  min-height: 100%;
  bottom: -8%;
  left: 50%;
  margin-left: -513px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
.footer-container:after {
  content: " ";
  display: block;
  clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003181}}
.footer-container svg {
  position: fixed;
  z-index: 9;
  height: auto;
  bottom: 2%;
  max-width: 90%;
  left: 5%; }

/*-------------------------------------------------------------------------------------------------------// CANS PAGE -*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003193}}
.cans-container {
  margin-top: 10%;
  position: relative;
  text-align: center;
  z-index: 100;
  height: 100vh;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 11.11111%;
  padding-right: 11.11111%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
  .cans-container:after {
    content: " ";
    display: block;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003203}}
  .cans-container .can-item {
    position: relative;
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
    box-shadow: 18px 25px 10px 4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 18px 25px 10px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 18px 25px 10px 4px rgba(0, 0, 0, 0.7);
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\0000316}}
    .cans-container .can-item:after {
      content: " ";
      display: block;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003213}}
    .cans-container .can-item:nth-child(2n) {
      float: right;
      margin-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003219}}
.can-open, .win-token {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003222}}
.can-closed {
  cursor: pointer; }

/* CANS Message banners */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003226}}
.msg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 199; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003233}}
.msg-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  padding: 2.5641%;
  width: 100%;
  background-color: rgba(177, 165, 127, 0.9);
  color: #ffffff;
  text-align: center;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003246}}
  .msg-container h2 {
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003250}}
  .msg-container p {
    font-size: 1.3em;
    margin-bottom: 10px; }

/*------------------------------------------------------------------------------------------------------- CANS PAGE //-*/
/*---------------------------------------------------------------------------------------------------------// SPLASH  -*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003259}}
.splash-container {
  position: absolute;
  z-index: 101;
  width: 171%;
  height: auto;
  top: -91%;
  left: -63%;
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003268}}
  .splash-container .splash-item1, .splash-container .splash-item2, .splash-container .splash-item3 {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003272}}
.drops {
  position: absolute;
  z-index: 1;
  width: 200%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  display: none; }

/*---------------------------------------------------------------------------------------------------------- SPLASH //-*/
/*-------------------------------------------------------------------------------------------------------// FACEBOOK  -*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003286}}
.fb-login-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 999;
  background-color: #3b5998;
  margin-top: 25%;
  border: 1px solid #3b4b6d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003294}}
  .fb-login-container .fb-logo {
    width: 10.25641%;
    float: left;
    margin-right: 2.5641%;
    padding-top: 2.5641%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003299}}
  .fb-login-container .fb-login-btn {
    width: 87.17949%;
    float: right;
    margin-right: 0;
    background-color: #3b5998;
    padding-top: 3.44828%;
    padding-bottom: 3.44828%;
    padding-left: 7.14286%;
    padding-right: 7.14286%;
    color: #fff;
    border: 0px;
    text-align: left;
    font-size: 1em;
    border-left: 1px solid #3b4b6d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003313}}
.wait-msg {
  color: #ffffff;
  padding: 20px;
  text-align: center; }

/*------------------------------------------------------------------------------------------------------- FACEBOOK  //-*/
/*----------------------------------------------------------------------------------------------------------// MODAL  -*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003321}}
.modal-content {
  color: #fff;
  background-color: #009a3c;
  background-color: rgba(0, 155, 62, 0.9);
  font-family: 'carlsbergregular'; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003329}}
.modal-container h3, .modal-container h4, .modal-container .subtitle {
  font-family: 'carlsbergbold'; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003333}}
.modal-container .close {
  width: 10%;
  opacity: 0.4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003338}}
.modal-container .modal-tekst {
  float: left;
  width: 60%;
  margin-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003343}}
.modal-container .modal-img {
  float: right;
  margin-left: 10px;
  margin-top: 10px;
  width: 36%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003350}}
.modal-header, .modal-body, .modal-footer {
  border-bottom: none;
  border-top: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003354}}
.form-group {
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003357}}
.btn-primary {
  background-color: #000000;
  border-color: #302e30; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003361}}
  .btn-primary:hover {
    background-color: #3a3939;
    border-color: #161515; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003366}}
.form-control {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/adrian\/WebstormProjects\/carlsberg_app_v01\/sass\/screen\.scss}line{font-family:\00003371}}
.rules-text {
  overflow: auto;
  max-height: 500px;
  padding-right: 5px; }

/*---------------------------------------------------------------------------------------------------------- MODAL  //-*/
